body
{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  padding: 70px 0;
  text-align: center;
}

.title
{
  font-size: 30px;
  font-weight: bold;
}

.move-img
{
  width: 50px;
  height: 50px;
  align-items: center;
  object-fit: cover;
}

.move-button
{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: transparent;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  margin-right: 10px;
  cursor: pointer;
}

.result
{
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
}

.scores
{
  margin-top: 40px;
}

.reset-button
{
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}